@use '../../global_styles/variables' as *;

.text-animate {
    display: inline-block;
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    min-width: 10px;

    
}
.text-animate-hover {
        min-width: 10px;
        display: inline-block;
        animation-fill-mode: both;

        &:hover {
            animation-name: jello;
            animation-duration: 0.8s;
            animation-fill-mode: both;
            color: $primary-red;
        }
}

/*(OBSOLETE/FALLBACK) @for $i from 1 through 100 {
    .text-animate._#{i} {
        animation-delay: #{i / 10}s;
    }
}*/