@use '../../global_styles/variables' as *;

.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-weight: 400;

        &::before {
            content: '<h1>';
            font-family: 'Betania Patmos In', 'Jetbrains Mono', monospace;
            color: $subprimary-clr;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
            animation: flip 1s 1.2s forwards;
        }

        &::after {
            content: '</h1>';
            font-family: 'Betania Patmos In', 'Jetbrains Mono', monospace;
            color: $subprimary-clr;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: flip 1s 1.2s backwards;
            opacity: 0.6;
        }

        svg {
            width: 40px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: flash 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
        font-family: 'Jetbrains Mono';
        letter-spacing: 3px;
        animation: lightSpeedInLeft 1s 1.8s backwards;
    }
    .flat-button {
        text-align: center;
        color: $subprimary-clr;
        font-size: 13px;
        font-weight: 400px;
        letter-spacing: 4px;
        font-family: 'Jetbrains Mono';
        text-decoration: none;
        padding: 10px 18px;
        margin-top: 25px;
        border: 1px solid $subprimary-clr;
        float: left;
        animation: lightSpeedInLeft 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: $subprimary-clr;
            color: #333;
        }
    }
}

@media screen and (max-width: 1200px) {
    .home-page {
        .text-zone {
            position: initial;
            width: 100%;
            transform: none;
            padding: 10px;
            box-sizing: border-box;
        }

        .logo-container {
            position: relative;
            width: 100px;
            height: auto;
            top: 50px;
            right: 0;
            box-sizing: border-box;
            margin: auto;
            left: 0;
        }
        .flat-button {
            float: none;
            display: block;
            margin: 20px auto 0 auto;
            width: 125px;

            svg {
                position: absolute;
                top: auto;
                right: auto;
                bottom: auto;
                left: 0;
                margin: auto;
            }
        }
    }
}